<%- include('../components/head', { title: 'Admin Settings' }) %>
  <body
    class="bg-[var(--dark-violet)] text-[var(--text-color)] flex flex-col min-h-screen"
  >

  <%- include('../components/header', { admin: true }) %>
  
    <main
      class="flex-grow flex flex-col items-center justify-start text-center p-6"
    >
      <h2 class="text-4xl font-bold text-[var(--accent)] mb-8">Settings</h2>

      <!-- Paramètres Généraux -->
      <section class="w-full max-w-4xl mb-8">
        <h3 class="text-2xl font-semibold mb-4">General settings</h3>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Paramètres globaux -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="settings/global">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">Global parameters</h4>
              <p class="text-sm">Customer area settings</p>
            </a>
          </div>
          <!-- Admin Settings -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="settings/account-admin">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">Admin settings</h4>
              <p class="text-sm">Admin account settings</p>
            </a>
          </div>
          <!-- SOON -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="#">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">SOON</h4>
              <p class="text-sm">SOON</p>
            </a>
          </div>
        </div>
      </section>

      <!-- Paramètres de la boutique-->
      <section class="w-full max-w-4xl mb-8">
        <h3 class="text-2xl font-semibold mb-4">Store settings</h3>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Produit -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="settings/product">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">Product</h4>
              <p class="text-sm">
                Configure products, manage stocks or configure offers for your
                store.
              </p>
            </a>
          </div>
          <!-- SOON -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="#">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">SOON</h4>
              <p class="text-sm">SOON</p>
            </a>
          </div>

          <!-- SOON -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="#">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">SOON</h4>
              <p class="text-sm">SOON</p>
            </a>
          </div>
        </div>
      </section>
    </main>

<%- include('../components/footer') %>

