<%- include('../components/head', { title: 'Admin Settings' }) %>
  <body
    class="bg-[var(--dark-violet)] text-[var(--text-color)] flex flex-col min-h-screen"
  >

  <%- include('../components/header', { admin: true }) %>
  
    <main
      class="flex-grow flex flex-col items-center justify-start text-center p-6"
    >
      <h2 class="text-4xl font-bold text-[var(--accent)] mb-8">Settings</h2>

      <!-- Paramètres Généraux -->
      <section class="w-full max-w-4xl mb-8">
        <h3 class="text-2xl font-semibold mb-4">General settings</h3>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Paramètres globaux -->
          <div
          class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300 flex flex-col items-center justify-center"
          >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 0 0-8.862 12.872M12.75 3.031a9 9 0 0 1 6.69 14.036m0 0-.177-.529A2.25 2.25 0 0 0 17.128 15H16.5l-.324-.324a1.453 1.453 0 0 0-2.328.377l-.036.073a1.586 1.586 0 0 1-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 0 1-5.276 3.67m0 0a9 9 0 0 1-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25" />
          </svg>                    
            <a href="settings/global">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">Global parameters</h4>
              <p class="text-sm">Customer area settings</p>
            </a>
          </div>
          <!-- Admin Settings -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="settings/account-admin">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">Admin settings</h4>
              <p class="text-sm">Admin account settings</p>
            </a>
          </div>
          <!-- SOON -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="#">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">SOON</h4>
              <p class="text-sm">SOON</p>
            </a>
          </div>
        </div>
      </section>

      <!-- Paramètres de la boutique-->
      <section class="w-full max-w-4xl mb-8">
        <h3 class="text-2xl font-semibold mb-4">Store settings</h3>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Produit -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300 flex flex-col items-center justify-center"
          >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
          </svg>          
            <a href="settings/product">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">Product</h4>
              <p class="text-sm">
                Configure products, manage stocks or configure offers for your
                store.
              </p>
            </a>
          </div>
          <!-- Pterodactyl -->
          <div
          class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300 flex flex-col items-center justify-center"
          >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3" />
          </svg>          
            <a href="#">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">Pterodactyl</h4>
              <p class="text-sm">Manage Pterodactyl settings, configure your API key.
              </p>
            </a>
          </div>

          <!-- SOON -->
          <div
            class="bg-[var(--light-violet)] p-4 rounded-md shadow-md hover:bg-[var(--hover-accent)] transition duration-300"
          >
            <a href="#">
              <i class="fas fa-globe text-[var(--accent)] mb-2"></i>
              <h4 class="text-lg font-medium">SOON</h4>
              <p class="text-sm">SOON</p>
            </a>
          </div>
        </div>
      </section>
    </main>

<%- include('../components/footer') %>

