<%- include('../../components/head', { title: 'Admin User Balance' }) %>
  <body
    class="bg-[var(--dark-violet)] text-[var(--text-color)] flex flex-col items-center justify-start p-6"
  >

    <h1 class="text-4xl font-bold text-[var(--accent)] mb-6">
      Settings user: <%= email %>
    </h1>

    <form
      action="/changeBalance?email=<%= email %>"
      method="POST"
      class="bg-[var(--light-violet)] p-6 rounded-lg shadow-md w-full max-w-md"
    >
      <label for="balance" class="block text-lg mb-2">Set Sold: :</label>
      <input
        type="number"
        id="balance"
        name="balance"
        required
        step="0.01"
        min="0"
        class="w-full p-2 border-[var(--text-color)] text-black"
      />
      <br /><br />

      <button
        type="submit"
        class="bg-[var(--accent)] text-white px-4 py-2 rounded-md hover:bg-[var(--hover-accent)] transition duration-300"
      >
        Update balance
      </button>
    </form>

    <% if (userBalance !== undefined) { %>
    <p class="mt-4 text-lg">User Balance : <%= userBalance %></p>
    <% } else { %>
    <p class="mt-4 text-lg">No scales available for this user.</p>
    <% } %>

    <br />
    <a href="/admin/home" class="text-[var(--accent)] hover:underline"
      >Back to administration</a
    >
  </body>
</html>
