    <!-- Footer -->
    <footer class="bg-[var(--light-violet)] w-full py-4 text-center shadow-md">
      <p class="text-sm">
        © 2025 <%= host %>. All rights reserved.
        <a href="#" class="text-[var(--accent)] hover:underline"
          >Terms of use</a
        >
      </p>
    </footer>
  </body>
</html>
