<header
  class="bg-[var(--light-violet)] w-full shadow-md py-4 px-6 flex justify-between items-center"
>
  <h1 class="text-2xl font-bold text-[var(--accent)]"><%= host %></h1>
  <nav>
    <% if (typeof admin !== 'undefined' ? admin : false) { %>
      <a href="/admin/home" class="mx-4 hover:text-[var(--accent)]">Home</a>
      <a href="/admin/users-panel" class="mx-4 hover:text-[var(--accent)]">Users</a>
      <a href="/admin/settings" class="mx-4 hover:text-[var(--accent)]">Settings</a>
      <a href="/admin/staff" class="mx-4 hover:text-[var(--accent)]">Staff</a>
    <% } else { %>
      <a href="/home" class="mx-4 hover:text-[var(--accent)]">Home</a>
      <a href="/service" class="mx-4 hover:text-[var(--accent)]">Service</a>
      <a href="/active-service" class="mx-4 hover:text-[var(--accent)]"
        >Service Active</a
      >
      <a href="/settings" class="mx-4 hover:text-[var(--accent)]">Settings</a>
    <% } %>
  </nav>
  <a
    href="/logout"
    class="bg-[var(--accent)] text-white px-4 py-2 rounded-md hover:bg-[var(--hover-accent)] transition duration-300"
  >
    Logout
  </a>
</header>