<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - <%= host %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      :root {
        --dark-violet: #1a1a1d;
        --light-violet: #252525;
        --accent: #8a2be2;
        --hover-accent: #6a1cb5;
        --text-color: #e5e5e5;
        --border-color: #3d3d3d;
      }
    </style>
  </head>