<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    :root {
      --dark-violet: #2e2e2e; 
      --light-violet: #292929;
      --accent: #f3f4f6;
      --hover-accent: #202020;
    }
  </style>
</head>
<body>
<
</body>