<%- include('./components/head', { title: 'Service' }) %>
  <body
    class="bg-[var(--dark-violet)] text-[var(--text-color)] flex flex-col min-h-screen"
  >

  <%- include('./components/header') %>

  <main
    class="flex-grow flex flex-col items-center justify-start text-center p-6"
  >
    <h2 class="text-4xl font-bold text-[var(--accent)]">Our products !</h2>
  </main>
    
<%- include('./components/footer') %>
